@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }

      .menuIconSize{
        height: 30px;
        width: 30px;
        margin: 10px auto auto auto;
      }

      .activeTab{
        /* color: red;   */
        background-color: #dcaf69;
        border-radius: 10%; 
      }
    }
  }